html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "omnes_attmedium" !important;
    background-color: rgb(0,0,0);

}

#bigspace {

    background-color: rgb(0,0,0);
    position:absolute;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-position: left bottom;
    width: 100%;
    height: 100%;
}


/*.col-md-8 {
    float:none;
    display:inline-block;
    vertical-align:middle;
}*/

.title{
    padding-top:100px;
}
.title h2{
    font-size: 68px;
    font-family: omnes_attmedium;
    color:rgba(255, 255, 255, 0.9);
    -webkit-font-smoothing:antialiased;
}

.chooser{
    width:100%;
    text-align: center;
}

.categories{
    padding-top:50px;
}

.desc{
    padding-top:50px;
    padding-left:20px;
    padding-right:20px;
    font-family: omnes_attmedium;
    font-size: 48px;
    color:rgba(255, 255, 255, 0.9);
    -webkit-font-smoothing:antialiased;
}

.description{
    display:block;
    margin:auto;
    position:relative;
    top: 20px;
    font-family: omnes_attlight;
    font-size:16px;
    text-transform:uppercase;
        -webkit-font-smoothing:antialiased;
}

/*some css3 animation*/
/*.pulse1 {
    -webkit-animation: pulse1 1s linear infinite;
    -moz-animation: pulse1 2s ease-in infinite;
    -ms-animation: pulse1 2s ease-in infinite;
    animation: pulse1 2s ease-in infinite;
}

@keyframes "pulse1" {
 0% {
    color: rgba(255, 255, 255, 0.9);
 }
 90% {
    color: rgba(255, 255, 255, 0.8);
 }
 100% {
    color: rgba(255, 255, 255, 0.9);
 }

}

@-moz-keyframes pulse1 {
 0% {
   color: rgba(255, 255, 255, 1);
 }
 90% {
   color: rgba(255, 255, 255, 0.8);
 }
 100% {
   color: rgba(255, 255, 255, 1);
 }

}

@-webkit-keyframes "pulse1" {
 0% {
   color: rgba(255, 255, 255, 1);
 }
 90% {
   color: rgba(255, 255, 255, 0.8);
 }
 100% {
   color: rgba(255, 255, 255, 1);
 }

}

@-ms-keyframes "pulse1" {
 0% {
   color: rgba(255, 255, 255, 1);
 }
 90% {
   color: rgba(255, 255, 255, 0.8);
 }
 100% {
   color: rgba(255, 255, 255, 1);
 }

}*/
/*end of css3 animation*/

.col-md-3{
    color:rgba(255, 255, 255, 0.9);
/*    -webkit-font-smoothing:antialiased;
*/
}

.col-md-2{
    color:rgba(255, 255, 255, 0.9);
    text-align: center;
/*    -webkit-font-smoothing:antialiased;
*/
}
.col-md-8{
    text-align: center;
}
svg {
    /*display:block;
    margin:auto;

*/    -webkit-font-smoothing:antialiased;
/*width:100px;
height:100px;*/

}


#cell{
    position:relative;
    left:4.2%;
}
.home{
    
/*    padding-top:200px;
*/}

.fa{
    padding-top:100px;
    padding-left:50px;
    color: white;

}

/*@-webkit-keyframes twinkly {
    0%   { opacity: 0.4; }
    100% { opacity: 1; }
}



}
@-moz-keyframes twinkly  {
    0%   { opacity: 0.4; }
    100% { opacity: 1; }
}
@-ms-keyframes twinkly  {
    0%   { opacity: 0.4; }
    100% { opacity: 1; }
}

.twinkle{
    -webkit-animation: twinkly 1s alternate infinite;
    -moz-animation: twinkly 1s alternate infinite;
    -ms-animation: twinkly 1s alternate infinite;
}*/
/*#papers{

   width: 500px;
                border: 1px solid #aaa;
}
*/



/*previous SVG styling

/*#circleyellow{
    
    fill: rgba(255, 255, 0, 0.5);
}
#circleblue{
    
     fill: rgba(0,0,255, 0.5);
}
#circlegreen{
    
     fill: rgba(0,255, 0, 0.5);
}
#circlered{
    
     fill: rgba(255,0, 0, 0.5);
}
#circleorange{
    
     fill: rgba(255,150,40,0.5);
}*/

/*end of SVG styling
*/


    .navdrawer-container li {
        -webkit-flex: 1;
        flex: 1;
        text-align: center;
    }
}
