@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@media (min-width: @screen-sm-min) { 
 #tour-btn p {
    padding-top: 24px;
    padding-right: 80px;
    padding-bottom: 20px;
    padding-left: 79px;
    margin: auto;
    font-weight: bold;
    font-size: 14px;
    font-family: ApexATT-Bold;
  }
}

/* Medium devices (desktops, 992px and up)
 */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }

i {
  color: rgba(255, 255, 255, 0.6);
  padding-left:25px;
  padding-top:1px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

article {
  position:fixed;
  top:50%;
  left:50%;
}

canvas {
  background-color: black;
}
html {
  height: 100%;
  width: 100%;
  /*overflow: hidden;*/
  min-width: 100%;
  min-height: 100%;
}

#element::-webkit-scrollbar { 
  display: none; 
}

.faux{
  color:black;
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}
.lead{
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.load {
  color:black;
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

 

#one {
/*  display:none;
   -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
*/}


#two {
/*  display:none;
*/}


#three {
/*  display:none;
*/}


#four {
/*  display:none;
*/}

.first{
 background:green;
  width:100px;
  height:100px;

}

.second {
 background:red;
  width:100px;
  height:100px;
   -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


}

.third {
 background:yellow;
  width:100px;
  height:100px;
   -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
 

}

.fourth {
 background:blue;
  width:100px;
  height:100px; 
   -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


}
.menu {
  color:black;
}
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.go {
 position:relative;
 left:100px;
 top: 300px;
}

ul li {
/*  background-color:black;
*/}