@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://weloveiconfonts.com/api/?family=entypo);


/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
/* Let's get this party started */
::-webkit-scrollbar {
    width: 1px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background:black;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: black; 
    -webkit-box-shadow: inset 0 0 6px black; 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: black; 
}

* {
     user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
}

html {
  height: 100%;
  width: 15000px!important;
  min-width: 100%;
  min-height: 100%;
  overflow-x: scroll;
  color:white !important;
  font-family:omnes_attmedium !important;
}


body {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  height: 100%;
}



.sprite {
    width: 1920px; 
    height: 1080px;
    background: url('../images/sprite_History_highquant.png');
}
i {
  font-style: normal !important;
}

a {
  text-decoration: none !important;
  color: #FCB314 !important;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

article {
  position:fixed;
  top:20%;
  left:30%;
}

canvas {
  background-color: black;
  position: fixed;
  z-index: -10;
  left: 0;
}

#container {
  color:white;
  margin: 0;
  padding: 0;
  height: 100%;
}

#element::-webkit-scrollbar { 
  display: none; 
}

.faux{
  opacity:0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

}
.lead {
  opacity:1;
  color: white;
  font-family: omnes_attlight_italic;
  text-align: left;
  padding-left: 80px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.lead i {
  padding-left:40px;
  position:absolute;
  top:-10px;
}

.load {
  opacity:0;
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.first{
 background:green;
  width:100px;
  height:100px;

}

.second {
 background:red;
  width:100px;
  height:100px;
   -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.third {
 background:yellow;
  width:100px;
  height:100px;
   -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.fourth {
 background:blue;
  width:100px;
  height:100px; 
   -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.menu {
  color:black;
}

.drag {

}

.go {
  color:white;
}

.go i {
  font-size: 36px;
  font-style: normal !important;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.timeline-nav {
  position: fixed !important;
  z-index: 100;
  width: 100%;
  text-align: center;
  bottom: 40px;
}

.timeline-nav ul li {
  display:inline;
}

.timeline-nav ul li i { 
  padding-right: 50px;
  font-size: 40px;
  color: white;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
}

.year {
  display: inline;
  padding-right: 30px;
  border-right: 2px #FCB314 solid;
  padding-left: 30px;
  font-weight: bold;
  font-size: 18px;
  font-family: omnes_attmedium;
  color: #FCB314;
  opacity: 1;
  position: relative;
  top: -7px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.year:hover {
  color: #7A5709 !important;
}

.timeline-nav ul li i:hover {
  color: darkgray;
}

.no-divider {
   border-right: 0px white solid !important;
}

.next {
  padding-right: 0px !important;
  padding-left:50px;
}

.load{
  font-size: 86px !important;
  color:white;
}


.container-fluid{
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
}

.row-fluid {height: 100%; display:table-cell; vertical-align: middle;}


.row-fluid-nav {height: 100%; display:table-cell; vertical-align: bottom;}

.tutorial {
  position: fixed;
  bottom: 10px;
  left: 0;
}

#one{
  top:10px;
  left:26% !important;
}

#one p {
  padding:0px;
  margin:0px;
  font-family: omnes_attlight;
  width: 640px;
  font-size: 18px;
  margin-left: 95px;
}

#two {
  top:400px;
  left:29% !important;
}


#two img {
  padding-bottom:10px;
  padding-left: 49% !important;
}

#two h3 {
  padding-bottom:10px;
  padding-left: 16% !important;
  font-family: omnes_attmedium;
  font-size: 20px;
  letter-spacing: 2px;
}

#two p {
  padding:0px;
  margin:0px;
  font-family: omnes_attlight;
  width: 640px;
  font-size: 18px;
  margin-left: 95px;
}
